<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

  </head>
  <body>

    <div class="main-banner" id="home">
      <!-- header -->
      <header>
        <div class="container">
          <div class="header d-lg-flex justify-content-between align-items-center py-3">
            <!-- logo -->
            <h1 class="logo-resp text-center">
              <a class="logo" href="index.html">
                Bd Laundry
              </a>
            </h1>
            <!-- //logo -->
            <!-- nav -->
            <div class="nav_w3ls">
              <nav>
                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop" />
                <ul class="menu">
                  <li class="active"><a href="index.html">Home</a></li>

                  <li class="mx-lg-4 my-md-0 my-2"><a href="order.html">Order</a></li>
                  <li class="mx-lg-4 my-md-0 my-2"><a href="#about">About Us</a></li>
                  <li><a href="#services">Services and Price</a></li>
                  <li class="mx-lg-4 my-md-0 my-2"><a href="#gallery">Gallery</a></li>
                  <li><a href="login.html">Login/Sign-up</a></li>

                </ul>
              </nav>
            </div>
            <!-- //nav -->
          </div>
        </div>
      </header>
    <div class="jumbotron">
      <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email or Phone</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button><br>
  <br>
  <a href="signup.html">I dont have any Account</a>
</form>
    </div>

  </body>
</html>
