#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;

  width: 50%;
margin-top: 50px;

}

#customers td, #customers th {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
  background-color: #e4f2ee;
}

#customers tr:nth-child(even){background-color: solid white;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;

  background-color: #5de3a9;
  color: white;
}
.jumbotron{
  padding-left: 30px;

}
